.stats{
   /* display:inline-flex;  */
}

 .wolfie{
  animation-duration: 3s;
  animation-name: slidein;
  width: 100px;
  height: 100px;
  font-size: 10px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.pet{
  width: 125px;
  height: 125px;
  border-radius: 0px;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
  animation: fadein 20s;
  animation-name: rotate;
  animation-duration: 5s;
  animation-direction: reverse;
  }
  .pet{
    font-weight: strong;
    font-size: 30px;
    animation-name: rotate;
    animation-duration: 10s;
    animation-direction: reverse;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h1,.name{
    animation-duration: 6s;
    animation-name: slidein;
    font-size: 50px;
    text-shadow: 5px 5px 0 #714D30;
    /* background-color: white; */
}

.hunger{
  color: black;
  font-size: 30px;
}

.sleepiness{
  color: black;
  font-size: 30px;
}

.boredom{
  color: black;
  font-size: 30px;
}
.age{
  color: black;
  font-size: 30px;
}

body{
  background-image: url('https://64.media.tumblr.com/c4ef683055d8fc8e5517cdc221a7d57a/d3238a119a00c682-b9/s1280x1920/324855e88fa138547b29b3f87200161526dc2356.png');
  background-size: 100%;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

html{
  text-align: center;
}
.wolfie{
  display: block;
  margin-left: relative;
  margin-right: relative;
  width: 95%;
}

.buttonBegin{
  font-size: 30px;
  background-color: #714D30
}

.feedButton{
  display:inline;
  font-size: 14px;
}

.playButton{
  display:inline;
  font-size: 14px;

}

.sleepButton{
  display:inline;
  font-size: 14px;
}

.hungerWord{
  font-size: 25px;
}

.boredomWord{
  font-size: 25px;
}

.sleepWord{
  font-size: 25px;
}

.ageWord{
  font-size: 25px;
}
