.pet{
  width: 130px;
  height: 130px;
  border-radius: 10px;
  /* width: 100px;
  height: 100px; */
  position: relative;

  animation-name: none;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;

}
h1{
    color: Black;
}

.hunger{
  color: black;
  text-size: 200px;
}

.sleepiness{
  color: black;
}

.boredom{
  color: black;
}
.age{
  color: black;
}

body{
  background-image: url('https://64.media.tumblr.com/c4ef683055d8fc8e5517cdc221a7d57a/d3238a119a00c682-b9/s1280x1920/324855e88fa138547b29b3f87200161526dc2356.png');
  background-size: 100%;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

html{
  text-align: center;
}
.wolfie{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.name{
  font-size: 50px;
}
